table{
    margin: 50px;
    border-collapse: collapse;
    padding: 20px;
    width: 50%;
    letter-spacing: 2px;
}
td, th{
    border: 1px black solid;
    text-align: center;
}
caption{caption-side: top;}
:nth-child(even){color: rgb(1, 46, 164);}
tr :hover{background-color:yellow;}

body{
    background-color: rgb(81, 86, 102);
    background: linear-gradient(0deg,rgb(228, 232, 31)30%,rgb(240, 105, 240)46%);
    height: 100vh;
}

